<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About us</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>FRESH COFFEE. GREAT TASTE.</h1>
  <p>Our philosophy is simple: you will get the best cup of coffee every time you visit our store. </p>
  <img src = "./assets/r_orig.jpg" />

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
