<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About us</ion-title>
    </ion-toolbar>
  </ion-header>
<body>
  <h1>FRESH COFFEE. GREAT TASTE.</h1>

  <div class="text">Our philosophy is simple: you will get the best cup of coffee every time you visit our store.</div>
  <div class="background trans"></div>
 
  <img src = "./assets/r_orig.jpg" />
</body>
  
</ion-content>
