<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contact</ion-title>
    </ion-toolbar>
  </ion-header>
<body>
  <h1>GET IN TOUCH</h1>
  
  <div class="text">Find us in our social media</div>
  <div class="background trans"></div>

  <div class="socialmedia">

   <a href="https://www.twitter.com" target = "_blank">
    <ion-icon size="large" name="logo-twitter"></ion-icon>
  </a>
  <a href="https://www.tiktok.com" target = "_blank">
    <ion-icon size="large" name="logo-tiktok"></ion-icon>
  </a>
  <a href="https://www.instagram.com" target = "_blank">
    <ion-icon size="large" name="logo-instagram"></ion-icon>
  </a>
  
    
  </div>

</body>


</ion-content>
