<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contact</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>GET IN TOUCH</h1>
  <p>Find us in our social media</p>

  <div id="container">
    
  
    <ion-icon size="large" name="logo-twitter"><a target = "_blank" href="https://www.twitter.com" ></a></ion-icon>
    <ion-icon size="large" name="logo-tiktok"><a target = "_blank" href="https://www.tiktok.com" ></a></ion-icon>
    <ion-icon size="large" name="logo-instagram"><a target = "_blank" href="https://www.instagram.com" ></a></ion-icon>
  </div>


  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
