<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      THE CAFETAL Coffee Shop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
       <ion-title size="large">Home</ion-title>
        </ion-toolbar>
  </ion-header>

  
  <img src = "./assets/logo-coffee-shopOK2.jpg" />
  <h1>COFFEES LIKE YOU’VE NEVER TASTED BEFORE</h1>

  <p>Our strength lies not only in the quality of the coffee and food we serve, but also in the experience our customers have with us when they visit. We are a destination for everyone who loves great coffee and we live to make every visit to our stores a fun one.</p>

  <app-explore-container name="Tab 6 page"></app-explore-container>
</ion-content>
